.custom-button {
    -fx-border-width: 2;
    -fx-cursor: hand;
    -fx-font-size: 22px;
}

.rounded-button {
    -fx-background-radius: 8; /* Ajustez cette valeur pour changer le degré d'arrondi */
    -fx-border-radius: 8;
}

.custom-button:pressed {
    -fx-background-color: #800080;
}

.active-button {
    -fx-background-color: #800080;
}

.secondary-bar {
    -fx-background-color: -color-bg-default;
    -fx-border-color: -color-border-default;
    -fx-border-width: 0 0 0 1;
    -fx-padding: 5px;
}