/* ==============================================================================================
 * Error Dialog Styles
 * ============================================================================================== */

.error-dialog-icon {
    -fx-icon-color: -color-danger-fg;
    -fx-icon-size: 32px;
}

.error-dialog-title {
    -fx-font-size: 1.2em;
    -fx-font-weight: bold;
}

.error-dialog-header {
    -fx-font-size: 1.0em;
}

.error-dialog-details {
    -fx-font-family: 'Monospaced';
}
