/* ==========================================================================
   Corese-GUI Navigation Bar Stylesheet
   ==========================================================================
   Purpose:
     Defines the collapsible sidebar navigation.
     Colors and typography inherit from the active AtlantaFX theme.
   -------------------------------------------------------------------------- */

/* ==========================================================================
   SIDEBAR CONTAINER
   ========================================================================== */

.sidebar {
  -fx-spacing: 8;
  -fx-padding: 16 8;
  -fx-pref-width: 200;
  -fx-max-width: 200;
  -fx-background-color: -color-bg-subtle;
  -fx-border-width: 0 1 0 0;
  -fx-border-color: -color-border-default;
}

.sidebar.collapsed {
  -fx-pref-width: 24;
  -fx-max-width: 24;
}

/* ==========================================================================
   LOGO BUTTON
   ========================================================================== */

.sidebar-logo {
  -fx-pref-height: 72;
  -fx-min-height: 72;
  -fx-max-height: 72;
  -fx-background-color: transparent;
}

.app-logo {
  -fx-smooth: true;
  -fx-effect: dropshadow(gaussian, -color-logo-shadow, 10, 0, 0, 0);
}

/* ==========================================================================
   TOGGLE BUTTON
   ========================================================================== */

.sidebar-toggle {
  -fx-padding: 12 16;
  -fx-min-height: 44;
  -fx-background-radius: 4;
}

.sidebar-toggle:hover {
  -fx-background-color: -color-accent-muted;
}

/* ==========================================================================
   NAVIGATION BUTTONS
   ========================================================================== */

.sidebar-button {
  -fx-padding: 12 16;
  -fx-min-height: 44;
  -fx-background-radius: 4;
}

.sidebar-button-content {
  -fx-spacing: 16;
}

.sidebar-button:hover {
  -fx-background-color: -color-accent-muted;
}

.sidebar-button.accent {
  -fx-background-color: -color-accent-emphasis
}

/* ==========================================================================
   ICONS AND TEXT
   ========================================================================== */

.sidebar-icon {
  -fx-icon-size: 20;
  -fx-icon-color: -color-fg-default;
}

.sidebar-text {
  -fx-text-fill: -color-fg-default;
}

/* Selected state - contrasted colors for icon and text */
.sidebar-button.accent .sidebar-icon {
  -fx-icon-color: -color-bg-subtle;
}

.sidebar-button.accent .sidebar-text {
  -fx-text-fill: -color-bg-subtle;
}
