/* ==========================================================================
   Text Result View Stylesheet
   ========================================================================== */

.format-selector-box {
  /* Layout */
  -fx-padding: 10px;
  -fx-spacing: 10px;
  -fx-alignment: center-right;

  /* Appearance */
  -fx-background-color: -color-bg-default;
  -fx-background-radius: 5px;
  -fx-border-color: -color-border-muted;
  -fx-border-radius: 5px;
  -fx-effect: dropshadow(three-pass-box, -color-shadow-default, 8, 0, 0, 2);
}

.format-selector-box .choice-box {
  -fx-pref-width: 120px;
}

.result-center-stack {
  -fx-alignment: top-right;
}
