/* ==============================================================================================
 * Validation View Styles
 * ============================================================================================== */

@import "split-editor-view.css";

/* --- Error Dialog --- */

.error-icon {
    -fx-icon-color: -color-danger-fg;
}


.error-close-button:hover {
    -fx-background-color: #b71c1c;
}

.error-icon {
    -fx-icon-color: #d32f2f;
    -fx-icon-size: 48;
}
